<section id="preview-intro">
  <!-- Hero Section -->
  <div class="intro-section-container">
    <section class="hero-section">
      <div class="title-container">
        <span id="gradient-title">Real-Time Gradient</span>
      </div>
      <span class="tagline">Smooth, customizable, real-time gradients</span>
    </section>
    <section class="gradient-show-container">
      <div id="sphere-1" class="gradient-sphere"></div>
      <div id="sphere-2" class="gradient-sphere"></div>
      <div id="sphere-3" class="gradient-sphere"></div>
      <div id="sphere-4" class="gradient-sphere"></div>
      <div id="sphere-5" class="gradient-sphere"></div>
    </section>

    <section class="intro-section">
      <div id="gradient-x" class="intro-text-container">
        <span class="intro-text"
          >Meet <strong>Real-Time Gradient</strong> a lightweight,
          framework-agnostic JavaScript library built for
          <em>high-end web design</em> and <em>digital marketing</em>. It lets
          you create <strong>smooth, dynamic gradients</strong> that adapt in
          real time, with full control over speed, direction, and hues.
          <br /><br />
          Whether you’re building landing pages for
          <strong>customer conversion</strong>, running
          <strong>dedicated campaigns</strong>, or just want to give your app a
          premium visual touch, Real-Time Gradient works seamlessly with plain
          JS, React, Vue, or any modern stack. <br /><br />
          From <em>scheduled transitions</em> that follow the clock, to
          <em>runtime updates</em> and <em>temporary effects</em>, this module
          is designed to make gradients feel alive turning static backgrounds
          into <strong>immersive experiences</strong> that capture attention and
          keep users engaged.
        </span>
      </div>
    </section>
  </div>
</section>
