<div class="header-container">
  <div class="logo-RTG">
    <a href="/demo/index.html">
      <div id="sphere-x" class="gradient-sphere-logo"></div>
      <div id="sphere-y" class="gradient-sphere-logo"></div>
      <div id="sphere-z" class="gradient-sphere-logo"></div>
    </a>
  </div>

  <!-- Hamburger toggle -->
  <button class="nav-toggle" aria-label="Open-menu">☰</button>

  <nav>
    <ul>
      <li><a href="#gradient-intro">Intro</a></li>
      <li><a href="#gradient-intro-containers">Containers</a></li>
      <li><a href="#gradient-intro-texts">Texts</a></li>
      <li><a href="#gradient-documentation">Documentation</a></li>
      <li><a href="#gradient-preview">Preview</a></li>
    </ul>
  </nav>
</div>
