html,
body {
  margin: 0;
  font: small ui-sans-serif, system-ui, -apple-system, Segoe UI, Roboto,
    Helvetica, Arial;
  background: #edeafd;
}
.title-divider {
  display: flex;
  margin: 0 2rem;
  height: 3px;
  background: black;
  border-radius: 99px;
}

.features-intro-text {
  color: #2a2e34;
  position: relative;
  z-index: 25;
  font-size: medium;
}

.features-intro-text-section-title {
  font-size: medium;
}

.features-section-title {
  font-size: 2em;
  text-transform: uppercase;
}

.watermark {
  text-decoration: none;
  color: #edeafd;
}

.logo-RTG a {
  padding-top: 5px;
  display: flex;
  flex-direction: row;
  gap: 3px;
}

.gradient-sphere-logo {
  width: 20px;
  height: 20px;
  border-radius: 50%;
}
.gradient-sphere-logo div {
  border-radius: 50%;
}

@media (max-width: 768px) {
  .logo-RTG a {
    padding-top: 15px;
  }

  .features-intro-text {
    color: #2a2e34;
    position: relative;
    z-index: 25;
    font-size: small;
  }

  .title-divider {
    display: flex;
    margin: 0 1rem;
    height: 2px;
    background: black;
  }
}
