* {
  box-sizing: border-box;
}
body {
  height: 100vh;
  margin: 0;
  padding: 0;
  transition: background 400ms ease;
  color: #f0f4ff;
  font: 500 16px/1.4 ui-sans-serif, system-ui, -apple-system, Segoe UI, Roboto,
    Helvetica, Arial;
}
body.loaded {
  /* enables subtle transition after first paint */
}

.app {
  position: relative;
  min-height: 100vh;
  overflow: hidden;
}

.nav {
  display: flex;
  flex-direction: column;
  align-items: center;
  z-index: 20;
  text-align: center;
}

#hero {
  display: flex;
  align-items: center;
  text-align: center;
  z-index: 0;
  padding: 0.5rem 2rem;
  border-radius: 2px;
  background: rgb(235, 235, 235);
  width: fit-content;
}

.main-container {
  gap: 20px;
  display: flex;
  flex-direction: column;
  height: 100%;
  justify-content: center;
  width: fit-content;
  margin: auto;
}

.title-container {
  font-size: 70px;
  font-style: italic;
  font-weight: 900;
  text-transform: uppercase;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  z-index: 29;
  text-align: center;
}

/* gradient text */
#dynamic-title {
  display: inline-block;
  background: inherit; /* inherit gradient from DynamicGradient */
  -webkit-text-fill-color: transparent;
  background-clip: text !important;
  color: transparent;
  font-size: 70px;
  font-style: italic;
  font-weight: 900;
  text-transform: uppercase;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  text-shadow: 0px 2.45px 1.15px rgba(26, 26, 26, 0.2);
  z-index: 19;
  width: 450px;
}
.nav a {
  display: block;
  margin: 0.5rem 0;
  padding: 0.75rem 1.5rem;
  background: rgb(235, 235, 235);
  border-radius: 2px;
  text-decoration: none;
  font-weight: 600;
}
.nav a:hover {
  background: rgba(255, 255, 255, 0.15);
}

.options-container {
  z-index: 10;
  position: fixed;
  bottom: 16px;
  left: 50%;
  gap: 12px;
  align-items: center;
  border-radius: 4px;
  padding: 6px 14px;
}

.options-inner-panel {
  z-index: 20;
}
